In [1]:
import pandas as pd

In [151]:
df = pd.read_csv("~/repos/jupyter-notebooks/data/geopm/power_balancer_125_W/dgemm_power_balancer_125_2_trace-nid02253", sep='|', skiprows=5)

In [152]:
df.time.max()

49.77748374

In [153]:
djc_df = pd.read_csv("~/repos/jupyter-notebooks/data/theta_djc_logs/ANL-ALCF-DJC-THETA_20190101_20191231.csv")

In [154]:
from itertools import chain

def parse_range_list(rl, val):
    def parse_range(r):
        if len(r) == 0:
            return []
        parts = r.split("-")
        if len(parts) > 2:
            raise ValueError("Invalid range: {}".format(r))
        return range(int(parts[0]), int(parts[-1])+1)
    return val in sorted(set(chain.from_iterable(map(parse_range, rl.split(",")))))

In [155]:
djc_df = djc_df[djc_df.START_TIMESTAMP < "2019-02-05 15:17:12"]
djc_df = djc_df[djc_df.END_TIMESTAMP > "2019-02-05 15:18:02"]

In [156]:
djc_df.LOCATION

9440                                                 3836
9441                                          0-4,6,10-11
9442    470,590-599,640-649,660-661,666,672-677,710-71...
9443                                          5,7-9,20-23
9444    570-589,650-658,700-709,730-739,1274-1275,1340...
9451    30-47,84-89,110-139,260-269,280-289,300-309,32...
9456    2240-2249,2253-2259,2325-2336,2338-2351,2356-2...
9457                                                 3832
9461    2250-2252,2470-2473,2476-2477,2780-2789,3221,3...
9467    2280-2289,2370-2379,2389-2399,2401,2406-2408,2...
9470    240-241,245,659,775,1141,2034,2199,2625,3385,3...
9503    60-69,190-199,210-219,404,480-489,500-509,600-...
Name: LOCATION, dtype: object

In [157]:
# djc_df = djc_df[parse_range_list(djc_df.LOCATION).contains(4598)]
djc_df[djc_df.apply(lambda x: parse_range_list(x['LOCATION'], 2253), axis=1)]

,JOB_NAME,COBALT_JOBID,MACHINE_NAME,QUEUED_TIMESTAMP,QUEUED_DATE_ID,START_TIMESTAMP,START_DATE_ID,END_TIMESTAMP,END_DATE_ID,USERNAME_GENID,...,IS_SUBBLOCK,IS_SUBBLOCK_ONLY,IS_MULTILOCATION_ONLY,IS_MULTILOCATION_SUBBLOCK,IS_CONSECUTIVE_ONLY,IS_SINGLE_ONLY,IS_NO_TASKS,IS_OTHER,OVERBURN_CORE_HOURS,IS_OVERBURN
9456,309660.theta,309660,theta,2019-02-05 09:24:28,20190205,2019-02-05 09:59:40,20190205,2019-02-05 16:02:54,20190205,39916454600131,...,0,0,0,0,0,0,0,1,0.0,0

In [158]:
darshan_df = pd.read_csv('~/repos/jupyter-notebooks/data/darshan/ANL-ALCF-DARSHAN-THETA_20190101_20191231.csv')

In [159]:
darshan_df[darshan_df.COBALT_JOBID == djc_df.iloc[0].COBALT_JOBID]

Empty DataFrame
Columns: [MACHINE_NAME, COBALT_JOBID, RUN_DATE_ID, USER_ID, EXE_NAME_GENID, START_TIME, END_TIME, NPROCS, RUN_TIME, DARSHAN_LOG_VERSION, DARSHAN_LIB_VERSION, TOTAL_POSIX_OPENS, TOTAL_POSIX_READS, TOTAL_POSIX_WRITES, TOTAL_POSIX_SEEKS, TOTAL_POSIX_STATS, TOTAL_POSIX_MMAPS, TOTAL_POSIX_FSYNCS, TOTAL_POSIX_FDSYNCS, TOTAL_POSIX_MODE, TOTAL_POSIX_BYTES_READ, TOTAL_POSIX_BYTES_WRITTEN, TOTAL_POSIX_MAX_BYTE_READ, TOTAL_POSIX_MAX_BYTE_WRITTEN, TOTAL_POSIX_CONSEC_READS, TOTAL_POSIX_CONSEC_WRITES, TOTAL_POSIX_SEQ_READS, TOTAL_POSIX_SEQ_WRITES, TOTAL_POSIX_RW_SWITCHES, TOTAL_POSIX_MEM_NOT_ALIGNED, TOTAL_POSIX_MEM_ALIGNMENT, TOTAL_POSIX_FILE_NOT_ALIGNED, TOTAL_POSIX_FILE_ALIGNMENT, TOTAL_POSIX_MAX_READ_TIME_SIZE, TOTAL_POSIX_MAX_WRITE_TIME_SIZE, TOTAL_POSIX_SIZE_READ_0_100, TOTAL_POSIX_SIZE_READ_100_1K, TOTAL_POSIX_SIZE_READ_1K_10K, TOTAL_POSIX_SIZE_READ_10K_100K, TOTAL_POSIX_SIZE_READ_100K_1M, TOTAL_POSIX_SIZE_READ_1M_4M, TOTAL_POSIX_SIZE_READ_4M_10M, TOTAL_POSIX_SIZE_READ_10M_100M, TOTAL_POSIX_SIZE_READ_100M_1G, TOTAL_POSIX_SIZE_READ_1G_PLUS, TOTAL_POSIX_SIZE_WRITE_0_100, TOTAL_POSIX_SIZE_WRITE_100_1K, TOTAL_POSIX_SIZE_WRITE_1K_10K, TOTAL_POSIX_SIZE_WRITE_10K_100K, TOTAL_POSIX_SIZE_WRITE_100K_1M, TOTAL_POSIX_SIZE_WRITE_1M_4M, TOTAL_POSIX_SIZE_WRITE_4M_10M, TOTAL_POSIX_SIZE_WRITE_10M_100M, TOTAL_POSIX_SIZE_WRITE_100M_1G, TOTAL_POSIX_SIZE_WRITE_1G_PLUS, TOTAL_POSIX_STRIDE1_STRIDE, TOTAL_POSIX_STRIDE2_STRIDE, TOTAL_POSIX_STRIDE3_STRIDE, TOTAL_POSIX_STRIDE4_STRIDE, TOTAL_POSIX_STRIDE1_COUNT, TOTAL_POSIX_STRIDE2_COUNT, TOTAL_POSIX_STRIDE3_COUNT, TOTAL_POSIX_STRIDE4_COUNT, TOTAL_POSIX_ACCESS1_ACCESS, TOTAL_POSIX_ACCESS2_ACCESS, TOTAL_POSIX_ACCESS3_ACCESS, TOTAL_POSIX_ACCESS4_ACCESS, TOTAL_POSIX_ACCESS1_COUNT, TOTAL_POSIX_ACCESS2_COUNT, TOTAL_POSIX_ACCESS3_COUNT, TOTAL_POSIX_ACCESS4_COUNT, TOTAL_POSIX_FASTEST_RANK, TOTAL_POSIX_FASTEST_RANK_BYTES, TOTAL_POSIX_SLOWEST_RANK, TOTAL_POSIX_SLOWEST_RANK_BYTES, TOTAL_POSIX_F_OPEN_START_TIMESTAMP, TOTAL_POSIX_F_READ_START_TIMESTAMP, TOTAL_POSIX_F_WRITE_START_TIMESTAMP, TOTAL_POSIX_F_CLOSE_START_TIMESTAMP, TOTAL_POSIX_F_OPEN_END_TIMESTAMP, TOTAL_POSIX_F_READ_END_TIMESTAMP, TOTAL_POSIX_F_WRITE_END_TIMESTAMP, TOTAL_POSIX_F_CLOSE_END_TIMESTAMP, TOTAL_POSIX_F_READ_TIME, TOTAL_POSIX_F_WRITE_TIME, TOTAL_POSIX_F_META_TIME, TOTAL_POSIX_F_MAX_READ_TIME, TOTAL_POSIX_F_MAX_WRITE_TIME, TOTAL_POSIX_F_FASTEST_RANK_TIME, TOTAL_POSIX_F_SLOWEST_RANK_TIME, TOTAL_POSIX_F_VARIANCE_RANK_TIME, TOTAL_POSIX_F_VARIANCE_RANK_BYTES, TOTAL_MPIIO_INDEP_OPENS, TOTAL_MPIIO_COLL_OPENS, TOTAL_MPIIO_INDEP_READS, TOTAL_MPIIO_INDEP_WRITES, TOTAL_MPIIO_COLL_READS, TOTAL_MPIIO_COLL_WRITES, TOTAL_MPIIO_SPLIT_READS, TOTAL_MPIIO_SPLIT_WRITES, ...]
Index: []

[0 rows x 187 columns]